<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalHacksBigManTing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4A39A2E1F8953FD00589912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A39A421F8953FE00589912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A39A4D1F8953FE00589912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
